{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Supermarkets</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link href="/static/bootstrap/css/bootstrap-fluid-adj.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/bootstrap/css/bootstrap-responsive.css"rel="stylesheet">
              
    </head>

    <body>
    <div class='container'>
        <div class='row-fluid'>
        <div class='col-md-6 col-md-offset-3 jumbotron'>
            <div class='text-center'>
                <h1>{% block header_text %} {% endblock %}<h1>
                <div class='hero-unit'>
                    {% block action %}
                    {% endblock %}
                </div>
                {% block action2 %}
                {% endblock %}
                
            </div>
        </div>
        </div>
        <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
        <script src="/static/bootstrap/js/jquery-2.0.3.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
