{% extends 'base.html' %}
{% block title %}
    {{ supermarket.super_name }}
{% endblock %}

{% block table %}
        <div class='container-fluid'>
            <table class='table table-bordered table-striped table-condensed'>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.i_name }}</td> 
                        <td>{{ item.inhalt }}</td> 
                        <td>{{ item.menge }}</td> 
                        <td>{{ item.aktion_price }}</td> 
                        <td>{{ item.normal_price }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block secret %}
    <a href='/secret/{{supermarket.super_name}}/'>Secret</a>
{% endblock %}

{% block opencomment%}
    <h2>Give me some items </h2>
    <form method='POST' action='/add_item/'>
    <input name='item_name' placeholder='Enter the name'>
    <input name='item_price' placeholder='Enter the price'>
    <input name='category' placeholder='Enter the category'>
    <input type='submit' value='Submit'>
    <input type='hidden' name='supermarket' value='{{ supermarket.super_name }}'>
    {% csrf_token %}
    </form>
{% endblock %}
