{% extends 'base.html' %}

{% block header_text %}
    Give me some stats
{% endblock %}
{% block table %}
    <table id='id_list_supermarkets'>
        {% for item in supermarkets %}
        <tr><td>{{ item.super_name }}</td>
            <td>{{ item.opening_hours }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
{% block action %}
    <form method='POST' action='/add_page/'>
    <input name='supermarket_name' placeholder='Enter the name'>
    <input name='opening_hours' placeholder='Opening hours'>
    <input type='submit' value='Submit'>
    {% csrf_token %}
    </form>
{% endblock %}
