{% extends 'base.html' %}
{% block title %}
    {{ supermarket.super_name }}
{% endblock %}

{% block table %}
        <table class='table table-bordered table-striped table-condensed'>
            <div class='container-fluid'>
                
                <thead>
                    <div class='span6'> 
                        Name
                    </div>
                    <div class='span2'>
                    Menge-Inhalt 
                    </div>
                    <div class='span1'>
                        Aktion Preis
                    </div>
                    <div class='span1'>
                        Normal Preis
                    </div>
                </thead>
                <tbody>
                    {% for item in items %}
                    <div class='span6'> 
                        {{ item.i_name }}
                    </div>
                    <div class='span2'>
                        {{ item.menge }}
                        {{ item.inhalt }}
                    </div>
                    <div class='span1'>
                        {{ item.aktion_price }}
                    </div>
                    <div class='span1'>
                        {{ item.normal_price }}
                    </div>
                    {% endfor %}
                </tbody>
            </div>
        </table>
{% endblock %}

{% block action %}
    <h2>Give me some items </h2>
    <form method='POST' action='/add_item/'>
    <input name='item_name' placeholder='Enter the name'>
    <input name='item_price' placeholder='Enter the price'>
    <input name='category' placeholder='Enter the category'>
    <input type='submit' value='Submit'>
    <input type='hidden' name='supermarket' value='{{ supermarket.super_name }}'>
    {% csrf_token %}
    </form>
{% endblock %}
