{% extends 'base.html' %}

{% block table %}
        <div class='container-fluid'>
            <table class='table table-bordered table-striped table-condensed'>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><a href='{{ item.link }}'>{{ item.i_name }}</a></td> 
                        <td><img src='{{ item.image_link }}' height='10em' width='10em'></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
{% block secret %}
    <a href='/secret/{{supermarket.super_name}}/'>Secret</a>
{% endblock %}
